@model List<DataModels.ViewModel.ProductViewModel>
@{
    var category = (DataModels.EF.ProductCategory)ViewBag.Category;
    ViewBag.Title = category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section slide
{

}
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>@category.Name</h3>
        </div>
        <div class="see">
            <p><a href="#">See all Products</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">

        @foreach (var item in Model)
        {

            var url = "/ProductDetails/" + item.MetaTitle + "-" + item.ID;

            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="@item.Images" alt="" /></a>
                <h2>@item.Name </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.Price.HasValue ? @item.Price.Value.ToString("N0") : "Dollar")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="/Category/@item.ID">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        }
        <div class="clear"></div>
        <!---paging-->
        @if (ViewBag.TotalPage > 1)
        {
            var pageDisplay = (int)ViewBag.MaxPage;
            var totalPage = (int)ViewBag.TotalPage;
            var currentPage = ((int)ViewBag.Page);


            //Create numeric links
            var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
            var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

            var link = "/Category/" + category.MetaTitle + "-" + category.ID;

            <nav>
                <ul class="pagination">
                    @if (currentPage > ViewBag.First)
                    {
                        <li><a href="@link?page=@ViewBag.First" title=" first Go" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                        <li>
                            <a href="@link?page=@ViewBag.Prev" title="prev Go" class="prev"><i class="fa fa-angle-left"></i></a>
                        </li>
                    }
                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (currentPage == i)
                        {

                            <li> <a href="@link?page=@i" class="active" title="You Here @i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@link?page=@i" title="this Page @i" class="pos">@i</a></li>
                        }
                    }
                    @if (currentPage < totalPage)
                    {
                        <li><a href="@link?page=@ViewBag.Next" class="next" title=" Next Go"><i class="fa fa-angle-right"></i></a></li>
                        <li> <a href="@link?page=@ViewBag.Last" class="last" title=" Last Go"><i class="fa fa-angle-double-right"></i></a></li>
                    }

                </ul>

            </nav>


        }
        else
        {
            <span> </span>
        }
    </div>

</div>

